<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <webSocket enabled="false" />
    <handlers>
      <!-- Indicates that the server.js file is a node.js site to be handled by the iisnode module -->
      <add name="iisnode" path="dist/index.js" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <!-- Do not interfere with requests for node modules -->
        <rule name="NodeModules" stopProcessing="true">
          <match url="^node_modules/.*" />
          <action type="None" />
        </rule>

        <!-- First we consider whether the incoming URL matches a physical file or a directory -->
        <rule name="StaticContent">
          <action type="Rewrite" url="dist/index.js" />
        </rule>

        <!-- All other URLs are mapped to the node.js site entry point -->
        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True" />
          </conditions>
          <action type="Rewrite" url="dist/index.js" />
        </rule>
      </rules>
    </rewrite>

    <!-- You can control how Node is hosted within IIS using the following options -->
    <!--<iisnode
      node_env="production"
      nodeProcessCountPerApplication="1"
      maxAggregateRequestMemory="4096"
      maxNamedPipeConnectionRetry="100"
      namedPipeConnectionRetryDelay="250"
    />-->
  </system.webServer>
</configuration>
